@font-face {
  font-family: "OpenSans-Regular";
  src: url("./assets/fonts/OpenSans-Medium.ttf") format("truetype");
  font-weight: normal;
  font-display: auto;
  font-style: normal;
}

html, body {
  font-family: 'OpenSans-Regular';
  padding: 0;
  margin: 0;
}

h1, h2, h3, p {
  margin: 0;
}

button {
  font-family: inherit;
}

i {
  color: gray;
}

.container {
  max-width: 1366px;
  margin: auto;
  overflow-x: hidden;
  position: relative;
}

.body-rel {
  position: relative;
  overflow: auto;
  min-height: 100vh;
}

#notification-panel-container {
  background-color: #e5e5e5;
  position: fixed;
  z-index: 99;
  width: 100%;
  max-height: 100px;
  overflow: hidden;
  transition: max-height 0.2s;
}

#notification-panel-container.close {
  max-height: 0px;
}

.notification-panel-content {
  max-width: 720px;
  padding: 10px 0;
  margin: auto;
  display: flex;
}

#btn-notification-panel {
  width: 120px;
  background-color: #007bc1;
  border: none;
  color: white;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
}

#hero-banner-container {
  background-image: url("./assets/work-desk__dustin-lee.jpg");
  height: 50vh;
  width: 100%;
  background-size: cover;
  position: relative;
  margin-top: 55px;
  transition: margin-top 0.2s;
}

#hero-banner-container.close {
  margin-top: 0px;
}

.color-background {
  height: 100%;
  background-color: rgb(0, 74, 117, 0.7);
}

.logo {
  max-width: 40px;
  position: absolute;
  left: 20px;
  top: 20px;
}

.content {
  color: white;
  position: relative;
  margin: auto;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
}

.content p {
  margin-top: 10px;
}

#btn-banner-contact {
  margin-top: 20px;
  border: 1px solid white;
  font-weight: bold;
  background: transparent;
  border-radius: 3px;
  color: white;
  padding: 15px 20px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.highlights-product-container {
  position: relative;
  background-color: #e5e5e5;
  padding: 40px 20px;
}

.highlight-product-title {
  max-width: 40%;
  margin: auto;
  text-align: center;
  margin-bottom: 40px;
}

#highlight-product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.list-item {
  border: 1px solid #A3A3A3;
  margin: 10px;
  padding: 15px;
}

.list-title {
  margin-bottom: 10px;
  display: flex;
  font-size: 1.3rem;
  justify-content: space-between;
}

#newsletter-panel {
  background-color: rgb(0, 123, 193, 0.7);
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  max-width: 640px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}

#newsletter-panel > div {
  padding: 20px;
}

#newsletter-panel.close {
  max-height: 0px;
}

#newsletter-panel.show {
  max-height: 300px;
}

#newsletter-panel .newsletter-panel-top {
  position: relative;
}

#btn-close-newsletter-panel {
  position: absolute;
  cursor: pointer;
  right: -10px;
  top: -10px;;
  background: transparent;
  border: none;
  color: white;
}

#btn-close-newsletter-panel i {
  color: white;
}

.newsletter-panel-text {
  margin-top: 20px;
}

#newsletter-panel input {
  margin-top: 10px;
  width: 80%;
  padding: 3px 10px;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#btn-newsletter {
  background-color: #ff8000;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-left: 5px;
  cursor: pointer;
}

#footer {
  text-align: center;
  color: white;
  background-color: #040325;
  padding: 20px;
}

@media screen and (max-width: 960px) {
  #highlight-product-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .container {
    max-width: 960px;
  }

  #newsletter-panel input {
    width: 100%;
  }

  #btn-newsletter {
    width: 100%;
    margin-top: 10px;
    margin-left: 0px;
  }

  .highlight-product-title {
    max-width: 100%;
  }
}

@media screen and (max-width: 479px) {
  #highlight-product-list {
    grid-template-columns: 1fr;
  }

  .container {
    max-width: 480px;
  }

  #notification-panel-container {
    max-height: 300px;
  }

  .notification-panel-content {
    max-width: 90%;
    flex-direction: column;
  }

  #btn-notification-panel {
    margin-left: 0px;
    margin-top: 10px;
    padding: 10px;
  }

  #hero-container {
    margin-top: 120px;
  }
}